<div class="container">
  <div class="container">
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae justo eget purus faucibus consectetur.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis magna sit amet tortor pellentesque, ac commodo nisl aliquet. Donec ut orci vel arcu mollis commodo at id velit. Nullam auctor erat euismod risus dapibus, at malesuada lorem vestibulum. Nam dictum enim vitae urna posuere, vel efficitur felis consectetur. Integer vitae ante nec lectus venenatis feugiat. Sed quis quam vestibulum, dapibus ipsum sit amet, imperdiet libero.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vel eros et ante porttitor fermentum. Nullam at purus eu tortor sollicitudin viverra. Vestibulum ultricies justo sed semper bibendum. Donec quis magna et lacus consequat congue. Suspendisse tincidunt mi id risus efficitur, eget pharetra purus efficitur. Curabitur id mi in nisi sodales ultricies a sit amet quam.
    Proin vitae justo eget purus faucibus consectetur. Integer ultricies lectus eget velit sollicitudin, in pharetra nisi tempor. Vestibulum ut urna a leo dictum elementum. Fusce vel mi ac velit molestie laoreet sed nec orci. Quisque gravida diam nec dapibus feugiat. In hac habitasse platea dictumst. Donec ultricies justo id elit vestibulum, nec ultricies ligula ultricies.
    </p>
  </div>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="card mx-3" style="width: 18rem;">
        <img class="card-img-top img-fluid" src="https://i.pinimg.com/736x/22/19/3b/22193bc3a09aa5ade813ddcb801806cc.jpg" alt="Reina">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">Reina</h5>
          <p class="card-text">Para algunos la verdadera gobernante del reino.</p>
          <%= link_to "Mas informacion", reina_path, class:"btn btn-dark"%>
        </div>
      </div>
      <div class="card mx-3" style="width: 18rem;">
        <img class="card-img-top img-fluid" src="https://i.pinimg.com/564x/6c/d9/3e/6cd93ea4ab3c7431a75c958740408b71.jpg" alt="Rey">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">Rey</h5>
          <p class="card-text">Algunos dicen que es un vago, hasta que llega su momento...</p>
          <%= link_to "Mas informacion", rey_path, class:"btn btn-dark"%>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="card mx-3" style="width: 18rem;">
        <img class="card-img-top img-fluid" src="https://i.pinimg.com/564x/24/a3/d6/24a3d6d06a03c611b71238b07cc1cab2.jpg" alt="Peon">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">Peon</h5>
          <p class="card-text">Fieles y leales soldados, numerosos pero con una metaformosis impresionante.</p>
          <%= link_to "Mas informacion", peon_path, class:"btn btn-dark"%>
        </div>
      </div>
      <div class="card mx-3" style="width: 18rem;">
        <img class="card-img-top img-fluid" src="https://i.pinimg.com/564x/75/33/aa/7533aa0a9530f51d257fd27f3ac427fc.jpg" alt="Torre">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">Torre</h5>
          <p class="card-text">Monolito que todo lo ve.</p>
          <%= link_to "Mas informacion", torre_path, class:"btn btn-dark"%>
        </div>
      </div>
      <div class="card mx-3" style="width: 18rem;">
        <img class="card-img-top img-fluid" src="https://i.pinimg.com/564x/9c/95/5c/9c955c61d8437b01f40f4335dda5c8ce.jpg" alt="Caballo">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">Caballo</h5>
          <p class="card-text">Versatil, leal y gran compañero. Cabalga hasta la victoria.</p>
          <%= link_to "Mas informacion", caballo_path, class:"btn btn-dark"%>
        </div>
      </div>
      <div class="card mx-3" style="width: 18rem;">
        <img class="card-img-top img-fluid" src="https://i.pinimg.com/564x/db/3d/55/db3d5529578da23df5f911a800724ba7.jpg" alt="Alfil">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">Alfil</h5>
          <p class="card-text">Danzante de la diagonal, borda el tablero con su elegancia táctica.</p>
          <%= link_to "Mas informacion", alfil_path, class:"btn btn-dark"%>
        </div>
      </div>
          <%= link_to "Vamos a jugar!", ajedrez_path, class:"btn btn-dark btn-lg btn-block mt-4" %>
    </div>
  </div>
</div>
